* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  
  height: 120px;
  width: 100%;

  font-family: serif, "Microsoft YaHei";

  margin: 20px auto;
}

.tags {
  position: relative;
  flex-grow: 1;

  margin: 0 10px 0 10px;
  border-radius: 5px;
}

.all {
  margin-left: 20px;

  background-color: #31b48d;
}

.active {
  background-color: #38a1f2;
}

.pending {
  background-color: #7538c7;
}

.closed {
  margin-right: 20px;

  background-color: #3b67a4;
}

.tags-info {
  position: absolute;
  left: 20px;
  top: 15px;
}

.tags-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  color: white;
}

.task-number {
  font-size: 32px;
  font-weight: 500;
  line-height: 30px;
  color: white;
}

.header .iconfont {
  position: absolute;
  right: 30px;
  top: 10px;

  font-size: 100px;
  opacity: 0.3;
  color: aliceblue;
}

.real-time {
  position: absolute;
  right: 30px;
  top: 20px;

  height: 30px;
  width: 50px;

  line-height: 30px;
  border-radius: 5px;
  color: white;
  text-align: center;

  background: rgba(255,255,255,0.3);
}

.percent {
  position: absolute;
  right: 30px;
  bottom: 20px;

  font-size: 32px;
  font-weight: 500;

  color: white;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;

  width: 100%;
  margin: 40px auto 20px auto;

  font-family: serif,"Microsoft YaHei";
}

.table-title {
  margin: 0 20px;

  font-size: 30px;
  font-weight: 700;
}

.project-display {
  border-collapse: collapse;
  margin: 40px 20px auto 20px;

  line-height: 30px;
}

.table-header {
  width: 100%;
  border: 1px solid #DCDEE3;
  
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;

  color: #333;
  background-color: #EBECF0;
}

td {
  padding-left: 20px;
}

.name {
  width: 20%;
}

.description {
  width: 40%;
}

.dead-line {
  width: 15%;
}

.status {
  width: 15%;
}

.operate {
  margin-right: 20px;
  width: 10%;
}

tbody {
  font-size: 20px;
}

tbody tr {
  border-bottom: 1px solid #DCDEE3;
}

tbody tr td {
  margin: 10px 0;
}

tbody .description { 
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden; 
  -webkit-box-orient: vertical;

  width: 650px;

  -webkit-line-clamp: 2;
}

tbody .description:hover {
  display: block;
}

.delete {
  width: 50px;
  height: 30px;
  border: none;
  border-radius: 5px;

  font-size: 16px;

  color: white;
  background-color: #ee706d;
}
